body {
  background-image: url("../images/home-template.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

body {
  margin: 0;
}

.layer {
  margin: 0 100px;
}

.tabbars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.tabbars-right ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center; 
} 

.tabbars-right-item {
  color: #f2622d;
  text-decoration: none;
  margin: 0 20px;
  font-size: 30px;
  font-weight: bold;
}

.tabbars-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.tabbars-left-item {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 30px;
  font-weight: bold;
}

.home-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
}

.body1 {
  display: grid;
  grid-template-columns: 50% 50% ;
  grid-template-rows: auto auto ;
}

.body1-grid {
  padding: 10px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
}

.body1-grid-lable {
  color: #f2622d;
  font-size: 100px;
  margin: 10px;
}

.body1-grid-text {
  color: #333;
  font-size: 20px;
  margin: auto;
  font-weight: bold;
  width: 80%;
}

.body1-grid-button {
  margin-top: 20px;
}

.body1-grid-button-shopnow {
  color: #fff;
  background-color: #f2622d;
  border: 2px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  width: 150px;
  cursor: pointer;
  font-weight: bold;

}

.body1-grid-button-learnmore {
  color:  #f2622d;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  width: 150px;
  cursor: pointer;
  font-weight: bold;
}

/* @media screen and (min-width: 1000px) {
  .tabbars {
  margin: 50px 50px 50px 50px;/

  }
} */

@media screen and (min-width: 600px) and (max-width: 999px) {
  .tabbars {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-image: url("../images/home-template.png");
    background-repeat: repeat;
    /* background-size: 100%; */
    background-size: contain;
  }
  .tabbars {
    display: none;
  }
  .home-body {
    margin-top: 10px;
  }
  .body1-grid-lable {
    /* color: #f2622d; */
    font-size: 20px;
    margin: 0px;
  }
  
  .body1-grid-text {
    color: #333;
    font-size: 5px;
    margin: auto;
    font-weight: bold;
    width: 80%;
  }
}





