body {
  all: unset;
}

/* HOME */
.background-home {
  background-image: url("../images/desktop/home-desktop.jpg");
  background-repeat: repeat;
  background-size: 100%;
}

.background-home {
  margin: 0;
  min-height: 1000px;
}

.layer {
  margin: 0 50px;
}

.tabbars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.tabbars-left ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}


.tabbars-left-item {
  color: #f2622d;
  text-decoration: none;
  margin: 0 10px;
  font-size: 30px;
  font-weight: bold;
}

.tabbars-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.tabbars-right-item {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 30px;
  font-weight: bold;
}

.tabbars-left-item:hover {
  opacity: 0.8;
}

.home-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.body1 {
  display: grid;
  grid-template-columns: 60% 60%;
  grid-template-rows: auto auto;
}

.body1-grid {
  padding: 10px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
}


.body1-grid-onestopshop {
  display: none;
  color: #fff;
  background-color: #f2622d;
  border: 2px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
  text-transform: uppercase;
}

.body1-grid-lable {
  color: #f2622d;
  font-size: 100px;
  margin: 10px 0;
}

.body1-grid-text {
  color: #333;
  font-size: 20px;
  margin: auto;
  font-weight: bold;
  width: 80%;
  text-align: justify;
}


.body1-grid-button-shopnow {
  color: #fff;
  background-color: #f2622d;
  border: 2px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  width: 150px;
  cursor: pointer;
  font-weight: bold;

}

.body1-grid-button-shopnow:hover {
  opacity: 0.8;
}

.body1-grid-button-learnmore:hover {
  opacity: 0.8;
}

.body1-grid-button-learnmore {
  color: #f2622d;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  width: 150px;
  cursor: pointer;
  font-weight: bold;
}

/* PAGE */
.background-page {
  background-image: url("../images/desktop/pickup-desktop.jpg");
  background-repeat: repeat;
  background-size: 100%;
}

.background-page {
  margin: 0;
  min-height: 1000px;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {

  /* HOME */
  .tabbars {
    display: none;
  }

  .background-home {
    background-image: url("../images/tablet/home-tablet.jpg");
  }

  .home-body {
    margin-top: 30px;
  }

  .body1 {
    grid-template-columns: 100% 100%;
  }

  .body1-grid {
    text-align: left;
  }

  .body1-grid-onestopshop {
    display: block;
  }

  .body1-grid-lable {
    font-size: 110px;
    font-weight: 500;
    line-height: 80%;
    margin-top: 30px;
  }


  .body1-grid-text {
    font-size: 15px;
    text-align: justify;
    width: 40%;
    margin: 20px 0 0 10px;
  }

  .body1-grid-button {
    margin-top: 20px;
  }


  .body1-grid-button-shopnow {
    display: none;
  }

  .body1-grid-button-learnmore {
    display: none;
  }

}

@media screen and (max-width: 599px) {

  /* HOME */
  .layer {
    margin: 0px;
  }

  .tabbars {
    display: none;
  }

  .background-home {
    background-image: url("../images/phone/home-phone.jpg");
  }

  .home-body {
    margin: 0px 10px;
  }

  .body1 {
    grid-template-columns: 100% 100%;
  }

  .body1-grid {
    text-align: left;
  }

  .body1-grid-onestopshop {
    display: block;
    font-size: 10px;
  }

  .body1-grid-lable {
    font-size: 50px;
    font-weight: 500;
    line-height: 50%;
    margin-top: 30px;
    margin-left: 10px;
    color: #fff;
  }


  .body1-grid-text {
    display: none;
  }

  .body1-grid-button {
    margin-top: 20px;
  }


  .body1-grid-button-shopnow {
    display: none;
  }

  .body1-grid-button-learnmore {
    display: none;
  }
}